*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
section img:hover{
    background: white;
    opacity: 50%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: montserrat;
}
ul{
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -240px;
    width: 240px;
    background: #1e1e1e;
    height: 100vh;
    overflow-y: auto;
    transition: all .3s;
}
ul li{
    height: 65px;
    outline: none;
}
ul li a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 70px;
    font-size: 20px;
    color: white;
    padding-left: 10%;
    background: #1e1e1e;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    border-left: 5px solid transparent;
}
ul li a:hover{
    background-color: teal;
    opacity: 60%;
    color: black;
    font-family: "Apple Color Emoji", serif;
    text-decoration-line: none;
}
li a.contact{
    border-bottom: 1px solid rgba(0,0,0,.5);
}
.active a{
    color: teal;
    border-left: 5px solid teal;
    background: #1B1B1B;
}
section{
    margin-left: 0px;
    transition: all .3s;
}
.sec1 .fixed-top  #slide{
    /*position: fixed;*/
    margin: 10px 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.sec1 ol a{
    text-decoration-line: none;
    color: white;
}
.sec1{
    margin-left: -20px;
    background: url("../Gallery/Landing.jpg");
    height: 100vh;
}
.sec2{
    margin-left: -20px;
    background-size: cover;
    height: 150vh;
}
.sec3{
    margin-top: 20px;
    margin-left: -20px;
    /*background: url("../content/Slider Banner.jpg");*/
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.sec{
    margin-left: -20px;
    /*background: url("../content/Slider Banner.jpg");*/
    background-size: cover;
    height: 100vh;
}

h1{
    font-size: 40px;
    padding: 15px 20px;
}
p{
    padding: 0 20px 10px 20px;
    text-align: justify;
}
.ul_show{
    margin-left: 0px;
}
.slide_image{
    margin-left: 260px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
.sec1 #slide{
    display: none;
}
 .sec3 {
     display: none
 }
.sec1 #head{
    display: none;
}
.sec1 #head2{
    margin-top: 40vh;
}
    ul{
        position: fixed;
        top: 0;
        left: 0;
        margin-top: -240px;
        width: 240px;
        background: #1e1e1e;
        height: 100vh;
        overflow-x: auto;
        transition: all .3s;
    }
    ul li{
        height: 65px;
        outline: none;
    }
    .ul_show{
        margin-top: 0px;
    }
    .slide_image{
        margin-top: 260px;
    }




}